
<div class="advice-container">
    <div class="advice-wrapper">
    <div class="advice-card">
        <div class="advice-content">
        <div class="advice-text">의견이 충분히 모아진 것 같으니 다음 단계로 넘어가는게 좋겠네요!</div>
        <div class="advice-icon-wrapper"><a><i class="material-icons done">done</i></a><a><i class="material-icons">clear</i></a></div>
        </div>
        <div class="advice-complete"><i class="material-icons">done</i>잘 하셨어요!</div>
    </div>
    <div class="advice-card complete">
        <div class="advice-content">
        <div class="advice-text">의견이 충분히 모아진 것 같으니 다음 단계로 넘어가는게 좋겠네요!</div>
        <div class="advice-icon-wrapper"><a><i class="material-icons done">done</i></a><a><i class="material-icons">clear</i></a></div>
        </div>
        <div class="advice-complete"><i class="material-icons">done</i>잘 하셨어요!</div>
    </div>
    </div>
</div>
</div>