<div class="chatroom-container">
    <div class="chatroom-dark-cover hide">
        <div class="chatroom-dark-cover-content">
        <div class="chatroom-cover-text-group">
            <div class="cover-subtitle">토의 목표</div>
            <div class="cover-title">제한 시간 20분 동안 주어진 문제에 대하여<br>적어도 '해결책 토의'까지 완료하기</div>
            <div class="cover-explanation">주어진 문제를 분석하고, 이를 해결하려면 어떻게 해야 될지 논의해봅시다.</div>
        </div>
        <div class="chatroom-cover-text-group">
            <div class="cover-subtitle">역할</div>
            <div class="cover-title">사회자</div>
            <div class="cover-explanation">토론 참여자들을 독려해 토론이 잘 이루어지게 하는 역할입니다.</div>
        </div>
        <div class="button-wrapper">
            <input id="roomNum" type="number" placeholder="도우미가 공지한 방 번호를 입력하세요." autofocus>
            <a id="goToRoom" class="button-start">실제 토의 시작하기</a>
            <a href="{{ page.url }}" class="button-start resume">튜토리얼 다시 보기</a>
        </div>
        </div>
    </div>
    
    <div class="chatroom-info-container">
        <div class="chatroom-info-wrapper">
        <div class="chatroom-users-container">
            <div class="chatroom-users-wrapper">
                <span class="chatroom-info-title">참가자</span>
                <div class="user-box moderator current">사회</div>
                <div class="user-box">P1</div>
                <div class="user-box">P2</div>
                <div class="user-box">P3</div>
                <div class="user-box">P4</div>
            </div>
        </div>
        <div class="chatroom-time-container">
            <div class="chatroom-info-title">총 토의시간</div>
            <div class="chatroom-info-content">00:00</div>
        </div>
        </div>
    </div>

    <div class="chatroom-content-container">

        {% if condition == 3 %}
        <!-- Feedback area for moderator only -->
        <div class="feedback-wrapper">
            <a href="#show-video" rel="modal:open" buttonariarole="combobox" class="feedback-more material-icons _ngcontent-wvw-0 _nghost-wvw-1">
            </a>

            <div class="feedback-default">
                <i class="material-icons">done</i>이곳에 토론에 도움이 되는 도움말이 표시됩니다
            </div>

            <div class="feedback-card hide">
                <a class="feedback-card-close">
                    <i class="material-icons">clear</i>
                </a>
                <div class="feedback-card-before">
                    <div class="feedback-card-message tooltip">
                        이번 단계는 전 단계에서 합의한 문제 원인의 증거가 무엇인지에 대해 논의해보도록 하겠습니다.
                    </div>
                    <div class="feedback-card-reason">
                        <i class="material-icons">info</i> 이번 단계를 소개해보세요
                    </div>
                    <!-- <div class="feedback-card-tooltip">
                        이번 단계는 전 단계에서 합의한 문제 원인의 증거가 무엇인지에 대해 논의해보도록 하겠습니다.
                    </div> -->
                </div>
            </div>

        </div>
        {% endif %}

        <div class="chatroom-content-wrapper">

            <div class="chatroom-utterances-wrapper">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P1</div>
                    <div class="chatroom-utterances-text">다음단계 갑시다
                        <div class="btn-add">
                            {% if condition == 3 %} <span>답글 달기</span> {% endif %}
                            <span>후보 등록</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P2</div>
                    <div class="chatroom-utterances-text">그러죠 ㄱㄱ
                         <div class="btn-add">
                            {% if condition == 3 %} <span>답글 달기</span> {% endif %}
                            <span>후보 등록</span>
                         </div>
                    </div>
                </div>
            </div>

            {% if condition != 1 %}
            <div class="chatroom-division">
                <span>최상의 상태를 막는 원인은 무엇입니까?</span>
            </div>
            {% endif %}

            <div class="chatroom-utterances-wrapper">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P3</div>
                    <div class="chatroom-utterances-text">최상의 상태를 막는 원인이라.. 무엇이 있을까요?
                        <div class="btn-add">
                            {% if condition == 3 %} <span>답글 달기</span> {% endif %}
                            <span>후보 등록</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P4</div>
                    <div class="chatroom-utterances-text">그러게요.
                        <div class="btn-add">
                            {% if condition == 3 %} <span>답글 달기</span> {% endif %}
                            <span>후보 등록</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P4</div>
                    <div class="chatroom-utterances-text">최상의 상태는 '주차 공간이 부족하지 않은 상태'로 합의했는데, 주차 공간이 부족한 원인이 뭘까요?
                        <div class="btn-add">
                            {% if condition == 3 %} <span>답글 달기</span> {% endif %}
                            <span>후보 등록</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P1</div>
                    <div class="chatroom-utterances-text">단속의 필요성이라고 생각합니다.
                        <div class="btn-add">
                            {% if condition == 3 %} <span>답글 달기</span> {% endif %}
                            <span>후보 등록</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P2</div>
                    <div class="chatroom-utterances-text">좋네요, 단속 너무 안하죠.
                        <div class="btn-add">
                            {% if condition == 3 %} <span>답글 달기</span> {% endif %}
                            <span>후보 등록</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper inline hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P3</div>
                    <div class="chatroom-utterances-text">무엇보다도 주차 공간 자체가 부족하기 때문 아닐까요?
                        <div class="btn-add">
                            <span>후보 등록</span>
                        </div>
                    </div>

                    {% if condition == 3 %}
                    <div class="feedback">
                        <div class="btn">
                            좋은 의견 감사합니다.
                        </div>
                        <div class="btn">
                            증거가 있을까요?
                        </div>
                        <div class="btn">
                            좀더 설명해주실 수 있나요?
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if condition == 3 %}
            <div class="chatroom-utterances-wrapper reply moderator hide">
                <div class="chatroom-utterances-container">
            
                    <div class="replies">
                        <div class="replies-container">
                            <i class="material-icons">subdirectory_arrow_right</i>
                            <div class="chatroom-utterances-wrapper moderator">
                                <div class="user-box moderator current">사회</div>
                                <div class="chatroom-utterances-text">좋은 의견 감사합니다.</div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
            {% endif %}

            <div class="chatroom-utterances-wrapper evidence hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P4</div>
                    <div class="chatroom-utterances-text">
                        {% if condition == 1 %} 공간도 부족하지만, 더 큰 원인은 단속의 문제 같네요. 
                        {% else %} 주거 지역에의 주차 밀집 {% endif %}
                        <div class="btn-add">
                            {% if condition == 3 %} <span id="add-reply">답글 달기</span> {% endif %}
                            <span>후보 등록</span>
                        </div>
                    </div>

                    {% if condition == 3 %}
                    <div class="feedback hide">
                        <div class="btn">
                            좋은 의견 감사합니다.
                        </div>
                        <div class="btn">
                            증거가 있을까요?
                        </div>
                        <div class="btn">
                            좀더 설명해주실 수 있나요?
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if condition == 3 %}
            <div class="chatroom-utterances-wrapper reply moderator hide">
                <div class="chatroom-utterances-container">
            
                    <div class="replies">
                        <div class="replies-container">
                            <i class="material-icons">subdirectory_arrow_right</i>
                            <div class="chatroom-utterances-wrapper moderator">
                                <div class="user-box moderator current">사회</div>
                                <div class="chatroom-utterances-text">좋은 의견 감사합니다.</div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
            {% endif %}

            <div class="chatroom-utterances-wrapper hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P1</div>
                    <div class="chatroom-utterances-text">
                        {% if condition == 1 %} 의견이 어느 정도 모아진 것 같은데 
                        {% else %} 투표가 어느 정도 진행된 것 같은데 {% endif %}
                        다음 단계로 넘어가는 거 어떨까요?
                        <div class="btn-add">
                            {% if condition == 3 %} <span>답글 달기</span> {% endif %}
                            <span>후보 등록</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P3</div>
                    <div class="chatroom-utterances-text">
                        네, 저도 단속의 필요성에 동의합니다. 다음 단계로 넘어가죠. 사회자님?
                        <div class="btn-add">
                            {% if condition == 3 %} <span>답글 달기</span> {% endif %}
                            <span>후보 등록</span>
                        </div>
                    </div>
                </div>
            </div>
            

            {% if condition != 1 %}
            <div class="chatroom-division hide">
                <span>그 원인의 증거는 무엇입니까?</span>
            </div>
            {% endif %}

        </div>
    </div>
    <div class="chatroom-chatbox-container">
        <div class="chatbox-input-wrapper">
            <textarea class="chatbox-input" type="text" placeholder="메세지 입력하기"></textarea>
            <div class="chatbox-sub-text hide">P2가 입력 중입니다...</div>
        </div>
    </div>
</div>

{% if condition == 3 and isModerator == true %}
<form id="show-video" class="modal">
    <h2>추천되지 않은 다른 상용구를 이용하는 방법</h2>
    <p>동영상으로 사용방법을 확인해보세요.</p>
    <div class="fill-width">
        <video src="{{ '/assets/video/tutorial.mp4' | relative_url }}" controls autoplay></video>
        <a rel="modal:close" onclick="enjoyhint_instance.trigger('next')" class="add-topic-btn" style="position: relative; display: inline-block; margin: 1rem .5rem 1rem 0;">닫기</a>
    </div>
</form>
{% endif %}
