<div class="chatroom-container">
    <div class="chatroom-dark-cover hide">
    <div class="chatroom-dark-cover-content">
        <div class="chatroom-cover-text-group">
        <div class="cover-subtitle">토의 주제</div>
        <div class="cover-title">대전 시청의 주차 관리 문제</div>
        <div class="cover-explanation">대전시청의 주차 관리와 관련해 어떤 문제가 있고, 이를 해결하려면 어떻게 해야 될 지 논의해봅시다.</div>
        </div>
        <div class="chatroom-cover-text-group">
        <div class="cover-subtitle">역할</div>
        <div class="cover-title">사회자</div>
        <div class="cover-explanation">토론 참여자들을 독려해 토론이 잘 이루어지게 하는 역할입니다.</div>
        </div>
        <div class="button-wrapper"><a class="button-start">토의 시작하기</a></div>
    </div>
    </div>
    <div class="chatroom-info-container">
    <div class="chatroom-info-wrapper">
        <div class="chatroom-users-container">
        <div class="chatroom-info-title">참가자</div>
        <div class="chatroom-users-wrapper">
            <div class="user-box moderator">사회</div>
            <div class="user-box">P1</div>
            <div class="user-box current">P2</div>
            <div class="user-box">P3</div>
            <div class="user-box">P4</div>
        </div>
        </div>
        <div class="chatroom-time-container">
        <div class="chatroom-info-title">총 토의시간</div>
        <div class="chatroom-info-content">12:03</div>
        </div>
    </div>
    </div>
    <div class="chatroom-content-container">
    <div class="chatroom-content-wrapper">
        <div class="chatroom-utterances-wrapper">
        <div class="user-box moderator">사회</div>
        <div class="chatroom-utterances-text">안녕하세요</div>
        </div>
        <div class="chatroom-utterances-wrapper">
        <div class="user-box moderator">사회</div>
        <div class="chatroom-utterances-text">이번 토론을 진행하게 된 사회자입니다</div>
        </div>
        <div class="chatroom-utterances-wrapper">
        <div class="user-box current">P2</div>
        <div class="chatroom-utterances-text">안녕하세요?</div>
        </div>
    </div>
    </div>
    <div class="chatroom-chatbox-container">
    <div class="chatbox-input-wrapper">
        <input class="chatbox-input" type="text" placeholder="메세지 입력하기">
        <div class="chatbox-sub-text">P2가 입력 중입니다...</div>
    </div>
    </div>
</div>