<div class="chatroom-container">
    <div class="chatroom-dark-cover hide">
        <div class="chatroom-dark-cover-content">
        <div class="chatroom-cover-text-group">
            <div class="cover-subtitle">실제 토의 주제</div>
            <div class="cover-title">대전 시청의 주차 관리 문제</div>
            <div class="cover-explanation">대전시청의 주차 관리와 관련해 어떤 문제가 있고, 이를 해결하려면 어떻게 해야 될 지 논의해봅시다.</div>
        </div>
        <div class="chatroom-cover-text-group">
            <div class="cover-subtitle">역할</div>
            <div class="cover-title">토의 참여자</div>
            <div class="cover-explanation">주어진 문제를 해결하기 위한 토의에 참여해 주십시오.</div> <!-- 토론 참여자들을 독려해 토론이 잘 이루어지게 하는 역할입니다. -->
        </div>
        <div class="button-wrapper">
            <a href="" class="button-start">실제 토의 시작하기</a>
            <a href="{{ page.url }}" class="button-start resume">튜토리얼 다시 보기</a>
        </div> <!-- TODO: REAL URL -->
        </div>
    </div>
    <div class="chatroom-info-container">
        <div class="chatroom-info-wrapper">
        <div class="chatroom-users-container">
            <div class="chatroom-users-wrapper">
                <span class="chatroom-info-title">참가자</span>
                <div class="user-box moderator">사회</div>
                <div class="user-box">P1</div>
                <div class="user-box current">P2</div>
                <div class="user-box">P3</div>
                <div class="user-box">P4</div>
            </div>
        </div>
        <div class="chatroom-time-container">
            <div class="chatroom-info-title">총 토의시간</div>
            <div class="chatroom-info-content">12:03</div>
        </div>
        </div>
    </div>
    <div class="chatroom-content-container">

        <div class="chatroom-content-wrapper">

            <div class="chatroom-utterances-wrapper">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P3</div>
                    <div class="chatroom-utterances-text">네, 저도 동의합니다!
                        {% if condition != 1 %}
                            <div class="btn-add">후보 등록</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper moderator">
                <div class="chatroom-utterances-container">
                    <div class="user-box moderator">사회</div>
                    <div class="chatroom-utterances-text">그러면 '주차 공간 부족하지 않은 상태'에 다들 동의하는 것으로 알고, 다음 단계 진행하겠습니다.
                        {% if condition != 1 %}
                            <div class="btn-add">후보 등록</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P4</div>
                    <div class="chatroom-utterances-text">네, 알겠습니다.
                        {% if condition != 1 %}
                            <div class="btn-add">후보 등록</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if condition != 1 %}
            <div class="chatroom-division">
                <span>최상의 상태를 막는 원인은 무엇입니까?</span>
            </div>
            {% endif %}

            <div class="chatroom-utterances-wrapper moderator hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box moderator">사회</div>
                    <div class="chatroom-utterances-text">
                        이번 단계는 전 단계에서 합의한 '최상의 상태'를 막는 원인이 무엇인지에 대해 논의해보도록 하겠습니다.
                        {% if condition != 1 %}
                            <div class="btn-add">후보 등록</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper moderator hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box moderator">사회</div>
                    <div class="chatroom-utterances-text">어떤 원인들이 있을까요?
                        {% if condition != 1 %}
                            <div class="btn-add">후보 등록</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P1</div>
                    <div class="chatroom-utterances-text">단속의 필요성이라고 생각합니다.
                        {% if condition != 1 %}
                            <div class="btn-add">후보 등록</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P3</div>
                    <div class="chatroom-utterances-text">무엇보다도 주차 공간 자체가 부족하기 때문 아닐까요?
                        {% if condition != 1 %}
                            <div class="btn-add">후보 등록</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="chatroom-utterances-wrapper evidence hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box">P4</div>
                    <div class="chatroom-utterances-text">
                        {% if condition == 1%} 양쪽 의견 모두 일리가 있네요. 
                        {% else %} 주거 지역에의 주차 밀집 {% endif %}

                        {% if condition != 1 %}
                            <div class="btn-add">후보 등록</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="chatroom-utterances-wrapper moderator hide">
                <div class="chatroom-utterances-container">
                    <div class="user-box moderator">사회</div>
                    <div class="chatroom-utterances-text">
                        {% if condition == 1%} 의견이 어느 정도 모아진 것 같은데 
                        {% else %} 투표가 어느 정도 진행된 것 같은데 {% endif %}
                        다음 단계로 넘어갈까요? 
                        
                        {% if condition != 1 %}
                            <div class="btn-add">후보 등록</div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="chatroom-chatbox-container">
        <div class="chatbox-input-wrapper">
            <textarea class="chatbox-input" type="text" placeholder="메세지 입력하기"></textarea>
            <div class="chatbox-sub-text hide">P2가 입력 중입니다...</div>
        </div>
    </div>
</div>
