<div class="overview-container">
    <div class="overview-wrapper">
        <div class="overview-title-wrapper">
            <div class="overview-title">대전시청의 주차 관리 문제</div>
        </div>

        <div class="overview-content-wrapper">
            <div class="overview-tabs">
                <div class="overview-tab-item-container">
                    <div class="overview-graphic-line-upper"></div>
                    <div class="overview-graphic-line-lower"></div>
                    <div class="overview-graphic-line-hor"></div>
                    <div id="step0" class="overview-tab-item active">문제 분석</div>
                </div>

                <div class="overview-tab-item-container">
                    <div class="overview-graphic-line-upper"></div>
                    <div class="overview-graphic-line-hor"></div>
                    <div id="step1" class="overview-tab-item">해결책 토의</div>
                </div>
                
            </div>

            <div class="overview-sections-container">
                {% for overview in site.data.overview %}
                <div id="question{{forloop.index0}}" class="overview-sections-wrapper {% if forloop.index0 != 0 %} hide {% endif %}">

                    {% for item in overview %}
                    
                    {% if condition != 1 and isModerator == true and item.status == "current" %}
                    <div class="overview-section-container pseudo">
                        <div class="overview-graphic-line-upper"></div>
                        <div class="overview-graphic-line-lower"></div>
                        <a href="#add-topic" rel="modal:open" class="btn overview-add-section-button top">
                            <i class="material-icons">add</i>
                        </a> 
                    </div>
                    {% endif %}

                    <div class="overview-section-container {% if condition != 1 %} {{item.status}} {% else %} current {% endif %}">

                        <div class="overview-graphic-line-upper"></div>
                        <div class="overview-graphic-line-lower"></div>
                        <div class="overview-graphic-line-hor"></div>

                        <div class="overview-section">
                            {% if condition == 1 or item.status == "later" %}
                            <div class="overview-section-title">{{ item.question }}</div>

                            {% elsif item.status == "current" %}

                                {% if isModerator == true %}
                                <a class="btn overview-next-button">
                                    다음 단계<i class="material-icons">keyboard_arrow_right</i>
                                </a>
                                {% endif %}

                            <div class="overview-section-title">{{ item.question }}</div>

                            <div class="overview-section-list">
                                {% for i in item.items %}
                                <div class="section-list-item">
                                    {% if condition != 1 %}
                                        {% if isModerator == false %}
                                        <a class="list-item-like"><i class="material-icons">thumb_up</i></a>
                                        {% else %}
                                        <a class="list-item-delete"><i class="material-icons">delete</i></a>
                                        {% endif %}
                                    {% endif %}

                                    <div class="section-item-content">
                                        <div class="section-item-bar-wrapper">
                                            {% assign total = item.total | plus: 0 %}
                                            {% assign vote = i.vote | times: 100 %}
                                            {% assign vote_percent = vote | divided_by: total %}
                                            <div class="section-item-bar" style="width: {{ vote_percent }}%"></div>
                                        </div>
                                        <div class="section-item-text">{{ i.text }}</div>
                                        <div class="section-item-population">({{ i.vote }}/{{ item.total }})</div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="input-container">
                                    <input class="input-list-new" type="text" placeholder="원인을 입력해보세요">
                                </div>
                            </div>

                            {% else %}
                            <div class="overview-section-title">{{ item.question }} </div>
                            <div class="overview-section-list">
                                <div class="section-list-item active">{{ item.active }}</div>
                                {% for i in item.inactive %}
                                    <div class="section-list-item">{{ i }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}

                        </div>

                    </div>

                    {% if condition != 1 and isModerator == true and item.status == "current" %}
                    <div class="overview-section-container pseudo">
                        <div class="overview-graphic-line-upper"></div>
                        <div class="overview-graphic-line-lower"></div>
                        <a href="#add-topic" rel="modal:open" class="btn overview-add-section-button bottom">
                            <i class="material-icons">add</i>
                        </a> 
                    </div>
                    {% endif %}
                    
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if condition != 1 and isModerator == true %}
<form id="add-topic" class="modal">
    <h2>토의 주제 추가</h2>
    <p>새롭게 추가하고자 하는 토의 주제를 적어주세요</p>
    <div class="fill-width">
        <label for="topic">토의 주제 : </label>
        <input id="topic" type="text" style="width: 70%"/>
        <br>
        <a id="submit-btn" rel="modal:close" class="add-topic-btn" style="position: relative; display: inline-block; margin: 1rem .5rem 1rem 0;">추가</a>
        <a rel="modal:close" class="add-topic-btn" style="position: relative; display: inline-block; margin: 1rem 0; background-color: gray; border-color: gray">닫기</a>
    </div>
</form>
{% endif %}