<div class="overview-container">
    <div class="overview-wrapper">
        <div class="overview-title-wrapper">
            <div class="overview-title">대전시청의 주차 관리 문제</div>
            <div class="overview-tabs">
                <a class="overview-tab-item">문제 분석</a>
                <i class="material-icons">keyboard_arrow_right</i>
                <a class="overview-tab-item active">해결책 토의</a>
                <i class="material-icons">keyboard_arrow_right</i>
                <a class="overview-tab-item inactive">행동 논의</a>
            </div>
        </div>
        <div class="overview-sections-container">
            <div class="overview-sections-wrapper">

                {% for item in site.data.overview %}

                    {% if item.isCurrent == false %}
                    <div class="overview-section-container">
                        <div class="overview-section">
                            <div class="overview-graphic-line-upper"></div>
                            <div class="overview-graphic-line-lower"></div>
                                <a class="overview-graphic-circle-wrapper">
                                    <div class="overview-graphic-circle"></div>
                                </a>
                            <div class="overview-section-title">{{ item.question }} </div>
                            <div class="overview-section-list">
                                <div class="section-list-item active">{{ item.active }}</div>
                                {% for i in item.inactive %}
                                    <div class="section-list-item">{{ i }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% else %}
                    <div class="overview-section-container">
                        <div class="overview-section current">
                            <div class="overview-graphic-line-upper"></div>
                            <div class="overview-graphic-line-lower"></div>
                            <a class="overview-graphic-circle-wrapper">
                                <div class="overview-graphic-circle outer"></div>
                                <div class="overview-graphic-circle"></div>
                            </a>
                            <a class="overview-add-section-button top"><i class="material-icons">add</i>새 항목 추가하기</a>
                            <div class="overview-section-title">{{ item.question }}</div>
                            <a class="overview-next-button">다음 단계<i class="material-icons">keyboard_arrow_right</i></a>
                            <div class="overview-section-list">
                                {% for i in item.items %}
                                <div class="section-list-item active">
                                    <a class="list-item-like"><i class="material-icons">thumb_up</i></a>
                                    <a class="list-item-delete"><i class="material-icons">delete</i></a>

                                    <div class="section-item-content">
                                        <div class="section-item-bar-wrapper">
                                        <div class="section-item-bar" style="width:66.6%;"></div>
                                        </div>
                                        <div class="section-item-text">{{ i.text }}</div>
                                        <div class="section-item-population">({{ i.vote }})</div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="input-container">
                                    <input class="input-list-new" type="text" placeholder="한계점은 ... 입니다">
                                </div>
                            </div>
                            <a class="overview-add-section-button bottom"><i class="material-icons">add</i>새 항목 추가하기</a>
                        </div>
                    </div>

                    {% break %}

                    {% endif %}
                
                {% endfor %}

                <div class="overview-section later">
                    <div class="overview-graphic-line-upper"></div>
                    <div class="overview-graphic-line-lower"></div>
                    <a class="overview-graphic-circle-wrapper">
                        <div class="overview-graphic-circle"></div>
                    </a>
                    <div class="overview-section-title">어떤 한계점이 제일 문제입니까?</div>
                </div>
            </div>
        </div>
    </div>
</div>