// Color Palette
$black: #000;
$gray-darker: #333;
$gray-dark: #666;
$gray: #999;
$gray-light: #bdbdbd;
$gray-lighter: #dbdbdb;
$gray-lighterer: #e5e5e5;
$white: #fff;

$primary: #f44336;
$primary-dark: #d75d54;
$primary-lighter: #ffcdd2;

// Background & border
$bg-color: #fafafa;
$bg-analysis: #fdfdfd;
$border-color: $gray-lighterer;

// Shadow
$card-shadow: 0 2px 8px rgba(0, 0, 0, .25);