.overview-container {
  bottom: 2.5rem;
  left: 2rem;
  top: 6.5rem;
  position: absolute;
  right: 0;
}

.overview-wrapper {
  background-color: $white;
  border-radius: 1rem;
  box-shadow: $card-shadow;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1.5rem;
  position: relative;

  .overview-title {
    color: $black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
  }

  .overview-section {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    position: relative;

    .overview-section-title {
      color: $gray-dark;
      font-size: 1.125rem;
      margin-bottom: .5rem;
    }

    .overview-section-list {
      padding-left: .5rem;
    }

    .section-list-item {
      color: $gray;
      font-size: 1rem;
      margin-bottom: .5rem;

      &.active {
        color: $primary;
      }
    }
  }

  .overview-section.current {
    padding-bottom: 2.5rem;

    .overview-section-title {
      color: $gray-darker;
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
    
    .overview-next-button {
      border: 1px solid $primary;
      border-radius: .25rem;
      color: $primary;
      height: 2rem;
      line-height: 2rem;
      margin-bottom: 1rem;
      padding-left: .75rem;
      padding-right: .5rem;
      position: absolute;
      right: 0;
      top: 0;

      .material-icons {
        color: $primary;
        font-size: 1.25rem;
        line-height: 2rem;
        vertical-align: sub;
      }
    }

    .section-list-item {
      color: $gray-dark;
      font-size: 1.125rem;
      margin-bottom: 1rem;

      .material-icons {
        color: $gray-light;
        margin-right: .75rem;
        vertical-align: sub;
      }

      .population {
        color: $gray-light;
        font-size: .875rem;
        margin-left: .25rem;
      }

      &.active .material-icons,
      &.active .population {
        color: $primary;
      }
    }

    .input-list-new {
      border: 1px solid $gray-light;
      border-radius: .25rem;
      color: $gray-darker;
      font-size: 1rem;
      height: 2.25rem;
      line-height: 2.25rem;
      padding: 0 1rem;
      width: 100%;
    }
  }

  .overview-sections-container {
    height: 100%;
    margin-bottom: 4rem;
    position: relative;
  }

  .overview-sections-wrapper {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
  }

  .overview-tabs {
    bottom: 0;
    border-top: 1px solid $border-color;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;

    .overview-tab-item {
      color: $gray;
      flex-grow: 1;
      height: 3rem;
      line-height: 3rem;
      text-align: center;

      &.active {
        color: $primary;
      }

      &.deactive {
        color: $gray-light;
      }
    }

    .material-icons {
      color: $gray;
      padding-bottom: .75rem;
      padding-top: .75rem;
    }
  }

  // For graphic
  .overview-section {
    $left-padding: 8px;
    $top-padding: 6px;

    .overview-graphic-line-upper,
    .overview-graphic-line-lower {
      border-left: .5px solid $primary-lighter;
      border-right: .5px solid $primary-lighter;
      left: $left-padding + 3px;
      position: absolute;
      width: 0;
    }

    .overview-graphic-line-upper {
      top: 0;
      height: 8px;
    }

    .overview-graphic-line-lower {
      top: 6px;
      bottom: 0;
    }

    .overview-graphic-circle {
      background-color: $primary;
      border-radius: 4px;
      height: 6px;
      left: $left-padding;
      position: absolute;
      top: $top-padding;
      width: 6px;

      &.outer {
        background-color: $white;
        border: 2px solid $primary;
        border-radius: 12px;
        height: 12px;
        left: $left-padding - 5px;
        top: $top-padding - 5px;
        width: 12px;
      }
    }

    &:first-child .overview-graphic-line-upper {
      display: none;
    }

    &.current {
      .overview-graphic-line-lower {
        border-color: $gray-lighter;
        border-style: dashed;
      }
    }

    &.later .overview-graphic-circle {
      background-color: $gray-light;
    }

    &:last-child .overview-graphic-line-lower {
      display: none;
    }
  }
}