.overview-container {
  bottom: 2.5rem;
  left: 2rem;
  top: 6.5rem;
  position: absolute;
  right: 0;
}

.overview-wrapper {
  background-color: $white;
  border-radius: 1rem;
  box-shadow: $card-shadow;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1.5rem;
  position: relative;

  .overview-title {
    color: $black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
  }

  .overview-section {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    position: relative;

    .overview-section-title {
      color: $gray-dark;
      font-size: 1.125rem;
      margin-bottom: .5rem;
    }

    .overview-section-list {
      padding-left: .5rem;
    }

    .section-list-item {
      color: $gray;
      font-size: 1rem;
      margin-bottom: .5rem;

      &.active {
        color: $primary;
      }
    }
  }

  .overview-section.current {
    padding-bottom: 5rem;
    padding-top: 3rem;

    .overview-section-title {
      color: $gray-darker;
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
      padding-right: 7.5rem;
    }
    
    .overview-next-button {
      border: 1px solid $primary;
      border-radius: .25rem;
      color: $primary;
      height: 2rem;
      line-height: 2rem;
      margin-bottom: 1rem;
      padding-left: .75rem;
      padding-right: .5rem;
      position: absolute;
      right: 0;
      top: 3rem;

      .material-icons {
        color: $primary;
        font-size: 1.25rem;
        line-height: 2rem;
        vertical-align: sub;
      }
    }

    .section-list-item {
      color: $gray-darker;
      display: flex;
      font-size: 1.125rem;
      margin-bottom: .75rem;

      .list-item-like {
        padding: .125rem 0;
      }

      .material-icons {
        color: $gray-light;
        font-size: 1.375rem;
        margin-right: .875rem;
        vertical-align: sub;
      }

      &.active .material-icons,
      &.active .section-item-population {
        color: $primary;
      }

      &.active .section-item-bar {
        background-color: $primary-lighter;
      }

      .list-item-delete .material-icons {
        color: $primary-light;

        &:hover {
          color: $primary;
        }
      }
    }

    .section-item-content {
      flex-grow: 1;
      padding: .125rem 3.5rem .125rem .75rem;
      position: relative;
    }

    .section-item-text {
      position: relative;
    }

    .section-item-bar-wrapper {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .section-item-bar {
      background-color: $gray-lighterer;
      height: 100%;
    }

    .section-item-population {
      color: $gray;
      font-size: .875rem;
      position: absolute;
      right: 0;
      top: .325rem;
    }

    .input-list-new {
      border: 1px solid $gray-light;
      border-radius: .25rem;
      color: $gray-darker;
      font-size: 1rem;
      height: 2.25rem;
      line-height: 2.25rem;
      margin-top: .25rem;
      padding: 0 1rem;
      width: 100%;
    }
  }

  .overview-sections-container {
    height: 100%;
    margin-bottom: 1rem;
    position: relative;
  }

  .overview-sections-wrapper {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
  }

  .overview-tabs {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    display: flex;
    margin: 0 -1.5rem 1.25rem;
    position: relative;

    .overview-tab-item {
      color: $gray;
      flex-grow: 1;
      height: 3rem;
      line-height: 3rem;
      text-align: center;

      &.active {
        color: $primary;
      }

      &.inactive {
        color: $gray-light;

        &:hover {
          cursor: not-allowed;
        }
      }
    }

    .material-icons {
      color: $gray;
      padding-bottom: .75rem;
      padding-top: .75rem;
    }
  }

  // For graphic
  .overview-section {
    $left-padding: 8px;
    $top-padding: 12px;
    $current-top-padding: 60px;

    .overview-graphic-line-upper,
    .overview-graphic-line-lower {
      border-left: .5px solid $primary-lighter;
      border-right: .5px solid $primary-lighter;
      left: $left-padding + 3px;
      position: absolute;
      width: 0;
    }

    .overview-graphic-line-upper {
      top: 0;
      height: $top-padding;
    }

    .overview-graphic-line-lower {
      top: $top-padding;
      bottom: 0;
    }

    .overview-graphic-circle {
      background-color: $primary;
      border-radius: 4px;
      height: 6px;
      left: $left-padding;
      position: absolute;
      top: $top-padding;
      width: 6px;

      &.outer {
        background-color: $white;
        border: 2px solid $primary;
        border-radius: 12px;
        height: 12px;
        left: $left-padding - 5px;
        top: $top-padding - 5px;
        width: 12px;
      }
    }

    &:first-child .overview-graphic-line-upper {
      display: none;
    }

    &.current {
      .overview-graphic-line-upper {
        height: $current-top-padding;
      }

      .overview-graphic-line-lower {
        border-color: $gray-lighter;
        border-style: dashed;
      }

      .overview-graphic-circle {
        top: $current-top-padding;

        &.outer {
          top: $current-top-padding - 5px;
        }
      }
    }

    &.later {
      .overview-graphic-circle {
        background-color: $gray-light;
      }

      .overview-graphic-line-lower,
      .overview-graphic-line-upper {
        border-color: $gray-lighter;
        border-style: dashed;
      }
    }

    &:last-child .overview-graphic-line-lower {
      display: none;
    }
  }

  .overview-add-section-button {
    background-color: $white;
    border: 1px solid $primary;
    border-radius: .75rem;
    color: $primary;
    font-size: .875rem;
    height: 1.75rem;
    left: 0;
    line-height: 1.75rem;
    padding-left: .5rem;
    padding-right: 1rem;
    position: absolute;

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 1.75rem;
    }

    &:hover {
      background-color: $primary-bg;
    }

    .material-icons {
      font-size: 1rem;
      margin-right: .5rem;
      vertical-align: sub;
    }
  }
}