$chatroom-info-height: 4rem;
$chatroom-chatbox-height: 5.5rem;

.chatroom-container {
  background-color: $white;
  border-radius: 1rem;
  box-shadow: $card-shadow;
  left: 2rem;
  top: 1.5rem;
  bottom: 2.5rem;
  position: absolute;
  right: 0;

  .chatroom-dark-cover {
    background-color: $darkcover-bg;
    border-radius: 1rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .chatroom-dark-cover-content {
    @include content-center-vertical;
    padding: 0 3rem;
  }

  .chatroom-cover-text-group {
    margin-bottom: 3.5rem;
    line-height: 1.4;
  }

  .cover-subtitle {
    color: $gray-lighter;
    font-size: 1.125rem;
  }

  .cover-title {
    color: $white;
    font-size: 1.675rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }

  .cover-explanation {
    color: $gray-light;
  }

  .button-wrapper {
    text-align: center;
  }

  .button-start {
    background-color: $primary-dark;
    border-radius: .5rem;
    color: $white;
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    margin: 0 auto;
    padding: 0 2.25rem;

    &:hover {
      background-color: darken($primary-dark, 10%);
    }
  }

  .chatroom-info-container {
    height: $chatroom-info-height;
    left: 0;
    padding: 1rem 1.5rem 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .user-box {
    align-items: center;
    background-color: $gray-light;
    color: $white;
    display: flex;
    font-weight: 300;
    height: 2.25rem;
    justify-content: center;
    text-align: center;
    width: 2.25rem;

    &.moderator {
      background-color: $primary;
    }

    &.current {
      border: 3.5px solid $current;
      position: relative;

      &::after {
        content: "나";
        background: $current;
        position: absolute;
        width: 16px;
        height: 16px;
        right: -8px;
        bottom: -6px;
        border-radius: 50%;
        font-size: 0.65rem;
        text-align: center;
      }
    }
  }

  .chatroom-users-container {
    padding-left: 3.375rem;
    position: relative;

    .chatroom-info-title {
      left: 0;
      position: absolute;
      bottom: 0;
    }
  }

  .chatroom-users-wrapper {
    display: flex;

    .user-box {
      margin-right: .375rem;
    }
  }

  .chatroom-info-title {
    color: $gray;
  }

  .chatroom-time-container {
    position: absolute;
    top: 1rem;
    right: 1.5rem;

    .chatroom-info-title {
      display: inline-block;
      margin-right: .25rem;
    }

    .chatroom-info-content {
      display: inline-block;
      font-size: 1.75rem;
    }
  }

  .chatroom-content-container {
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
    bottom: $chatroom-chatbox-height;
    left: 0;
    position: absolute;
    right: 0;
    top: $chatroom-info-height;
  }

  .chatroom-chatbox-container {
    bottom: 0;
    height: $chatroom-chatbox-height;
    left: 0;
    position: absolute;
    right: 0;
  }

  .chatbox-input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.5rem 0;
  }

  .chatbox-input {
    border: 2px solid $gray-lighter;
    border-radius: .375rem;
    font-size: 1rem;
    padding: .625rem 1.25rem;
  }

  .chatbox-sub-text {
    color: $gray-light;
    font-size: .75rem;
    padding-left: .5rem;
  }

  .chatroom-content-wrapper {
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 1.125rem 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .chatroom-utterances-wrapper {
    padding: .375rem 1.5rem;
    position: relative;

    .user-box {
      left: 1.5rem;
      position: absolute;
      top: .375rem;

      &.current {
        right: 1.5rem;
        left: auto;
      }
    }
  }

  $user-side-margin: 3rem;
  $other-side-margin: 6rem;

  .chatroom-utterances-text {
    line-height: 1.6;
    font-size: .95rem;
    border: 2px solid $border-color;
    padding: .4rem 1rem;
    margin-left: $user-side-margin;
    margin-right: $other-side-margin;
  }

  .moderator + .chatroom-utterances-text {
    border: 2px solid #f7e2e2 !important;
    background: rgba(247, 226, 226, .25) !important;
  }

  .current + .chatroom-utterances-text {
    margin-right: $user-side-margin;
    margin-left: $other-side-margin;
  }
}