---
layout: default
---

{% assign condition = 2 %}
{% if page.url contains "moderator" %}
    {% assign isModerator = true %}
{% else %}
    {% assign isModerator = false %}
{% endif %}

<div class="row">
    <div class="col col-3">
        {% include overview.html %}
    </div>
    <div class="col col-5">
        {% if isModerator == true %}
            {% include chat_moderator.html %}
        {% else %}
            {% include chat.html %}
        {% endif %}
    </div>
</div>

{% include script.html %}

{% if isModerator == true %}
    <script src="{{ '/assets/js/second_moderator.js' | relative_url }}"></script>
{% else %}
    <script src="{{ '/assets/js/second.js' | relative_url }}"></script>
{% endif %}

  